asttokens
async-generator
attrs
backcall
certifi
cffi
clicknium
clr-loader
colorama
comm
debugpy
decorator
distlib
executing
filelock
h11
idna
iniconfig
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
outcome
packaging
parso
pickleshare
platformdirs
pluggy
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pypyodbc
PySocks
pytest
python-dateutil
pythonnet
pywin32
pyzmq
selenium
six
sniffio
sortedcontainers
stack-data
tornado
traitlets
trio
trio-websocket
typing_extensions
urllib3
validators
virtualenv
wcwidth
wsproto
